@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1>About Us<a class="anchorjs-link" href="#hello,-world!"><span class="anchorjs-icon"></span></a></h1>
        <p class="text-justify" style="font-size:14px;">
            <br /><strong>Jull Quintero Daza - T00036331.</strong>
            <br /><br /><strong>Miguel Ángel Gonzalez Venegas - T00035911.</strong>
            <br /><br /><strong>Walter Pacheco Matorel - T00017126.</strong>
            <br /><br /><strong>Ibrahimme Morelo Mejia - T00036441.</strong>
        </p>
    </div>
</div>

